<h1>Editing Book</h1>

<% if @book.errors.any? %>
  <ul>
    <% @book.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>

<%= form_with model: @book do |f| %>
  <div class="field">
    <h4>Title</h4>
    <div class="title-field">
    <%= f.text_field :title %>
    </div>
  </div>
  
  <div class="field">
    <h4>Body</h4>
    <%= f.text_area :body %>
  </div>
  
  <div class="submit-btn">
    <%= f.submit 'Update Book' %>
  </div>
  
  <div class="link">
    <%= link_to 'Show', book_path(@book.id) %>
    |
    <%= link_to 'Back', books_path %>
  </div>
  
  
<% end %>